.container1 {
  border: 1px solid rgb(175, 175, 175);
  box-shadow: none;
  margin-top: 2rem;
}

.accountImage {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid grey;
  box-shadow: 4px 2px 16px rgba(0, 0, 0, 0.15);
}

.box2 {
  margin-top: 1rem;
  margin-left: -1.5rem;
  margin-bottom: -2rem;
}

.username {
  font-size: 13px;
  color: grey;
}

.realName {
  font-size: 19px;
  color: rgb(75, 75, 75);
  width: 115px;
}

.nameColumn {
  margin-left: -0.8rem;
}

.plusIcon {
  font-size: 16px;
  color: red;
}

.followText {
  font-size: 15px;
  color: grey;
  margin-left: -0.5rem;
}
.follow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin-left: -1.3rem;
}

.suggestedAccountbottom {
  margin-bottom: 15px;
}
