.box {
  padding-top: 3rem;
}
ul {
  list-style-type: none;
  text-align: left;

  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0;
  margin: 0 auto;
  text-align: left;
  width: auto;
}
li {
  cursor: pointer;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
  color: #353839;
  margin-bottom: 5px;
}
h2 {
  font-size: 20px;
  margin-bottom: 1vh;
  margin-top: 5px;
  font-weight: 400;
}

.specialCase {
  margin-left: -1px;
}

h2:hover {
  color: #f45046;
}
